  @font-face {
  	font-family: '9Slide03SOFIAPROSOFTLIGHT';
  	src: url('include/9Slide03SOFIAPROSOFTLIGHT/9Slide03SOFIAPROSOFTLIGHT.eot');
  	src: local('include/9Slide03SOFIAPROSOFTLIGHT/9Slide03SOFIAPROSOFTLIGHT'),
      url('include/9Slide03SOFIAPROSOFTLIGHT/9Slide03SOFIAPROSOFTLIGHT.woff') format('woff'),
      url('include/9Slide03SOFIAPROSOFTLIGHT/9Slide03SOFIAPROSOFTLIGHT.ttf') format('truetype');
  }

  label{
    font-family: '9Slide03SOFIAPROSOFTLIGHT';
  }

 body {
        margin: 0px;
        padding: 0px;
        font-family: sans-serif;
        font-size : 12px;
      }

 canvas {
 	/* width : 100%;
 	height: 100%; */
  background-color: #ccc;
  border : 1px solid darkgrey;
  top : 5px;
  left:5px;
  position: absolute;
 }

.form-group{
  display : flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.form-group label {
  position: relative;
  top:9px;
}
.form-group input {
  height : 30px;
}
#divControls{
  position:absolute;
  top : 5px;
  left : 430px;
}
#divConfigGui{
  background-color:#4778a833;
  display : flex;
  flex-direction: column;
  align-content: center;
  border-radius : 5px;
  border : 1px solid #ccc;
  width : 320px;
  position:absolute;
  top : 70px;
  right : 10px;
padding : 5px;}
