
 canvas {
 	/* width : 100%;
 	height: 100%; */
  background-color: #ccc;
  border : 1px solid darkgrey;
  top : 5px;
  left:5px;
  position: relative;
  cursor: auto;

   cursor :url(../include/img/drawCursor.png) 2 2, crosshair;
 }
