#drawCanvas {
  /* width : 100%; */
  /*height: 100%; */
  background-color: #ccc;
  border: 1px solid darkgrey;
  top: 52px;
  left: 0px;
  position: absolute;
}

#cursorCanvas {}

#divColors {}

#divFormConfig {
  z-index: 1;

  position: absolute;
  top: 55px;
  left: 5px;
  padding:10px;
}

#divFormConfig input {
  width: auto ;
  height: auto ;
  border: auto ;
  border-radius: auto ;
}

#divFormConfig li {
  height : 2rem;
  }
#divFormConfig input[type='range'] {
  width:100%;
  }
#divFormConfig input[type='color'] {
  width : 50%;
  height : 1.75rem
  }

#divColors div, #divShadowColors div {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  cursor: pointer;
}
