  @font-face {
  	font-family: '9Slide03SOFIAPROSOFTLIGHT';
  	src: url('9Slide03SOFIAPROSOFTLIGHT/9Slide03SOFIAPROSOFTLIGHT.eot');
  	src: local('9Slide03SOFIAPROSOFTLIGHT/9Slide03SOFIAPROSOFTLIGHT'),
      url('9Slide03SOFIAPROSOFTLIGHT/9Slide03SOFIAPROSOFTLIGHT.woff') format('woff'),
      url('9Slide03SOFIAPROSOFTLIGHT/9Slide03SOFIAPROSOFTLIGHT.ttf') format('truetype');
  }

  label{
    font-family: '9Slide03SOFIAPROSOFTLIGHT';
  }

 body {
        margin: 0px;
        padding: 0px;
        font-family: sans-serif;
        font-size : 12px;
      }

 canvas {
 	/* width : 100%;
 	height: 100%; */
  background-color: #ccc;
  border : 1px solid darkgrey;
  top : 5px;
  left:5px;
  position: absolute;
 }

.form-group{
  display : flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.form-group label {
  position: relative;
  top:9px;
}
.form-group input {
  height : 30px;
}

.gui{
  background-color:#c3cfdb8a;
  border-radius : 5px;
  border : 1px solid #ccc;
  width : 320px;
  position:absolute;
  padding : 5px;
}
.statGui{
   position :'absolute';
   display :'block';
   top : 10px;
   left :10px;
   zIndex :100;
}
#divControls{
  position:absolute;
bottom : 0px;
  left : 10px;
}
#divConfigGui{
  display : flex;
  flex-direction: column;
  align-content: center;
  top : 10px;
  right : 10px;
  }
