@font-face {
	font-family: 'frizzed';
	src: url('./frizzed.eot');
	src: local('frizzed'), url('./frizzed.woff') format('woff'), url('./frizzed.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_33">Text with this font applied</p> */
.fontsforweb_fontid_33 {
	font-family: 'frizzed' !important;
}

/* Font downloaded from FontsForWeb.com */