  @font-face {
    font-family: '9Slide03SOFIAPROSOFTLIGHT';
    src: url('../font/9Slide03SOFIAPROSOFTLIGHT/9Slide03SOFIAPROSOFTLIGHT.eot');
    src: local('../font/9Slide03SOFIAPROSOFTLIGHT/9Slide03SOFIAPROSOFTLIGHT'),
      url('../font/9Slide03SOFIAPROSOFTLIGHT/9Slide03SOFIAPROSOFTLIGHT.woff') format('woff'),
      url('../font/9Slide03SOFIAPROSOFTLIGHT/9Slide03SOFIAPROSOFTLIGHT.ttf') format('truetype');
  }

  label, input {
    font-family: '9Slide03SOFIAPROSOFTLIGHT';
    font-size: 12px;
  }

  body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 12px;
  }

  #drawCanvas {
    /* width : 100%;
 	height: 100%; */
    background-color: #ccc;
    border: 1px solid darkgrey;
    top: 5px;
    left: 5px;
    position: absolute;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }

  .gui {
    background-color: #c3cfdb8a;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 320px;
    position: absolute;
    padding: 5px;
  }

  .statGui {
    position: 'absolute';
    display: 'block';
    top: 10px;
    left: 10px;
    zIndex: 100;
  }

  /* #divControls{
  position:absolute;
bottom : 0px;
  left : 10px;
} */
  #divConfigGui {
    /* display : flex;
  flex-direction: column;
  align-content: center;
  top : 10px;
  right : 10px; */
    /* float: right;
    position: relative; */
    top: 80px;
    width: 450px;
    /* border: 1px solid #73733e; */
  }

  #divFormConfig {
    background-color: #9cabbb;
    border-radius: 8px;
    box-shadow: 0px 0px 12px;
  }

  #divFormConfig input {
    /* width: 76px;
    height: 23px;
    border: 1px solid gray;
    border-radius: 4px; */
  }

  ul {}
